<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:arg name="arm_id" default="panda" /> <!-- Name of this panda -->
  <xacro:arg name="hand" default="false" /> <!-- Should a franka_gripper be mounted at the flange?" -->
  <xacro:arg name="sim_ignition" default="false" />
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="simulation_controllers"
    default="" />
  <!-- initial position for simulations (Ignition) -->
  <xacro:arg name="initial_positions_file"
    default="$(find franka_description)/config/initial_positions.yaml" />
  <!-- convert to property to use substitution in function -->
  <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)" />

  <link name="world">
      </link>
  <joint name="world_base" type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="world" />
    <child
      link="base" />
  </joint>  
  <!-- box shaped table as base -->
  <link name="base">
    <visual>
      <origin xyz="0 0 0.5" rpy="0 0 0" />
      <geometry>
        <box size="0.5 0.5 1" />
      </geometry>
      <material name="metal">
        <color rgba="0.768627450980392 0.749019607843137 0.729411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.5" rpy="0 0 0" />
      <geometry>
        <box size="0.5 0.5 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="10" />
      <inertia ixx="1e-3" ixy="0.0" ixz="0.0"
        iyy="1e-3" iyz="0.0"
        izz="1e-3" />
    </inertial>
  </link>

  <!-- Franka arm -->
  <xacro:include filename="$(find franka_description)/urdf/panda_arm.xacro" />
  <xacro:panda_arm arm_id="$(arg arm_id)" sim_ignition="$(arg sim_ignition)" connected_to="base" xyz="0 0 1"
    safety_distance="0.03" />
    
  <!-- Panda gripper -->
  <xacro:if value="$(arg hand)">
    <xacro:include filename="$(find franka_description)/urdf/hand.xacro" />
    <xacro:hand ns="$(arg arm_id)" rpy="0 0 ${-pi/4}" connected_to="$(arg arm_id)_link8"
      safety_distance="0.03" />
  </xacro:if>

  <xacro:include
    filename="$(find franka_description)/urdf/ros2_control/panda_arm.ros2_control.xacro" />
  <xacro:panda_arm_ros2_control
    ns="$(arg arm_id)"
    sim_ignition="$(arg sim_ignition)"
    use_fake_hardware="$(arg use_fake_hardware)"
    initial_positions="${xacro.load_yaml(initial_positions_file)}" />

  <xacro:if value="$(arg sim_ignition)">
    <!-- Gazebo plugins -->
    <gazebo reference="base">
    </gazebo>
    <gazebo>
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
        <parameters>$(find franka_gazebo)/config/franka_controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:if>
</robot>